*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Exo 2', sans-serif;
    text-decoration:none;
}

:root{
    --main:#32CBCC;
    --secound:#2DB3E3;
    --Dark-main:#141414;
    --light-Dark:#191919;
    --white75:hsla(0,0%,100%,0.75);
    --white50:hsla(0,0%,100%,0.5);
    --white25:hsla(0,0%,100%,0.25);
    --white5:hsla(0,0%,100%,0.05);
}

body{
    background: var(--Dark-main);
    max-width:100vw;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: hsl(0,0%,15%);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--secound);
    border-radius: 20px;
    border: 2px solid hsl(0,0%,15%);
    transition:all .3s ease-in-out;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: var(--main);
  }


  .desk-nav.active-nav{
    width:100%;
    padding:24px 0px;
    position:fixed;
    border-bottom:1px solid hsl(0,0%,55%);
    z-index:10;
    background:hsla(0,0%,0%,0);
}
.desk-nav{
    width:100%;
    padding:16px 0px;
    position:fixed;
    border-bottom:1px solid var(--white25);
    z-index:12;
    background:var(--light-Dark);
    transition:all .3s ease-in-out;
}
.desk-nav-mar{
    display:flex;
    margin:0 90px;
    align-self: center;
}
.desk-nav-logo{
    z-index:99;
    user-select:none;
}
.desk-nav.active-nav .desk-nav-logo img{
    width:45px;
    height:45px;
    transition:all .3s ease-in-out;
}
.desk-nav .desk-nav-logo img{
    width:35px;
    height:35px;
    transition:all .3s ease-in-out;
}

.desk-nav-anchors-flex{
    display:flex;
    width:100%;
    position:relative;
}
.desk-nav-anchors-abs{
    position:absolute;
    top:0;
    right:0;
    display:flex;
    align-self: center;
    transition:all .3s ease-in-out;

}
.nav-anchor{
    margin:0px 16px;
    position:relative;
    align-self: center;
    display:flex;
    flex-direction: column;
    z-index:99;
    transition:all .3s ease-in-out;
}
.desk-nav.active-nav .nav-anchor{
    margin:0 32px;
}
.desk-nav.active-nav .nav-anchor a{
    color:white;
    font-size:23px;
    font-weight:200;
    transition:all .3s ease-in-out;
}
.desk-nav .nav-anchor a{
    color:white;
    font-size:20px;
    font-weight:100;
    transition:all .3s ease-in-out;
}
.desk-nav.active-nav .nav-anchor a:hover{
    color:var(--main);
}
.desk-nav .nav-anchor a:hover{
    color:var(--main);
}
.active-underscore{
    width:100%;
    height:1px;
    background:var(--main);
    margin-top:4px;
}
.desk-nav.active-nav .nav-anchor.active a{
    color:var(--main);
    margin-top:8px;
}
.desk-nav .nav-anchor.active a{
    color:var(--main);
    margin-top:8px;
}
.navigation-mobile{
    display:none;
}




.header{
    background-image:url("./img/header.png");
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:12;
}
.header-content{
    position:relative;
    width:100%;
    height:100%;
}
.header-content-abs{
    position:absolute;
    width:50%;
    height:fit-content;
    margin:0 auto;
    top:50%;
    left:50%;
    margin-top:-250px;
    margin-left:-25%;
}
.header-text1 h2{
    font-size:56px;
    color:var(--main);
    font-weight:100;
    text-align: center;
    margin-bottom:32px;
    text-shadow:2px 2px 2px black;
}
.header-text2 h1{
    font-size:80px;
    color:#fff;
    font-weight:bold;
    text-align: center;
    margin-bottom:32px;
    text-shadow:2px 2px 2px black;
}
.header-text3 p{
    font-size:26px;
    color:hsla(0,0%,100%,0.75);
    text-align: center;
    margin-bottom:32px;
}
.btn-poznajmy-sie{
    border:1px solid var(--main);
    width:fit-content;
    border-radius:32px;
    margin:0 auto;
    z-index:11;
    position:relative;
    transition:all .3s ease-in-out;
}
.btn-poznajmy-sie:hover{
    box-shadow: 0px 0px 10px var(--main);
}
.btn-poznajmy-sie-a{
    padding:16px 32px;
    display:flex;
    flex-direction: row;
}
.btn-poznajmy-sie-a p{
    font-size:24px;
    color:#fff;
    text-align: center;
    text-shadow:2px 2px 2px black;
}
.btn-poznajmy-sie-a i{
    font-size:24px;
    color:#fff;
    margin-left:16px;
    margin-top:5px;
    font-weight: 100;
    transition:all .3s ease-in-out;
}
.btn-poznajmy-sie:hover i{
    transform: translateY(5px)
}


/* Section About */
.aboutme{
    background:var(--light-Dark);
    position:relative;
    width:100%;
}
.aboutme-content{
    margin:0px 90px;
    height:fit-content;
    position:relative;
    overflow:hidden;
}
.orna-aboutme{
    border:16px solid var(--secound);
    transform:rotate(45deg);
    width:300px;
    height:300px;
    margin:-150px auto 0;
}
.aboutme-content-flex{
    display:flex;
    width: 100%;
}
.about-img{
    position:relative;
    margin-top:0px;
    margin-left:15%;
    width:40%;
}
.about-img img{
    width:auto;
    height:100%;
    position:absolute;
    bottom:0;
    left:10%;
}
.about-aboutme{
    position:relative;
    width:60%;
    text-align:center;
    padding-bottom:80px;
}
.tittle-of-section{
    color:var(--main);
    font-size:84px;
    text-align: center;
    margin-bottom:80px;
    transition:all .3s ease-in-out;
}
.aboutme .tittle-of-section{
    transform: translateY(-50px);
}
.my-specializations .tittle-of-section,
.realization .tittle-of-section{
    transform: translateY(0px);
}
.faq-section .tittle-of-section{
    transform: translateX(-50px);
}


.tittle-of-section.active-tittle{
    opacity:1 !important;
    transform: translateY(0px);
    transform: translateX(0px);
}
.about-aboutme p{
    color:hsla(0,0%,100%,0.75);
    font-size:21px;
    text-align: center;
    margin-bottom:32px;
    width:75%;
    margin:0 auto 32px;
}
.about-aboutme p:nth-child(4){
    margin:0 auto 8px;
}

.about-aboutme a{
    color:var(--white50);
    margin:0 auto;
    font-size:21px;
    margin-bottom:80px;
    transition:color .3s ease-in-out;
}
.about-aboutme a:hover{
    color:#fff;
    
}




/* Section Specialization */
.my-specializations{
    background-color: var(--Dark-main);
    padding:128px 90px;
}
.specs-flex-box1-and2{
    display:flex;
    justify-content:space-between;
}
.spec-box.spec-box-flex{
    width:600px;
    height:300px;
}
.spec-box{
    border:1px solid var(--white25);
    position:relative;
    width:600px;
    height:300px;
    margin:40px 0px;
}
.spec-box:nth-child(3){
    width:100%;
    height:200px;
}
.spec-box:nth-child(4){
    margin:80px auto 40px;
}
.spec-box h3{
    color:var(--secound);
    font-size:40px;
    font-weight:bold;
    text-align: center;
    margin:16px 64px 0px;
}
.spec-box p{
    color:#fff;
    font-size:28px;
    text-align: center;
    margin:48px 32px 0px;
    line-height:45px;
}
.spec-box img{
    position:absolute;
    top:16px;
    left:16px;
    width: 100px;
    height:100px;
}

.spec-tools{
    padding:128px 0px;
}
.tools-content{
    position:relative;
    margin-bottom:80px;
}
.tools-type-flex{
    user-select:none;
    width:600px;
    height:100px;
    background-color: var(--light-Dark);
    display:flex;
    flex-direction: row;
    position:relative;
    margin:0 auto;
    justify-content: space-around;
    z-index:1 !important;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}
.tools-content div{
    width:600px;
    z-index:5 !important;
}
.tools-content-flex div{
    width:40%;
}
.tools-content div p{
    z-index:7 !important;
    text-align: center;
    font-size:21px;
    font-weight:bold;
    cursor: pointer;
}
.active-tool{
    position:absolute;
    top:0;
    left:0;
    width:300px !important;
    height:300px !important;
    background:linear-gradient(to left,  var(--main), var(--main));
    margin-top:-100px;
    margin-left:-50px;
    transform:rotate(45deg) !important;
    z-index:3 !important;
    transition:all .3s ease-in-out;
}
.active-tool.right-tool {
    position: absolute;
    top: 0;
    left: 65%;
    width: 300px !important;
    height: 300px !important;
    background: linear-gradient(to left, var(--main), var(--main));
    margin-top: -100px;
    margin-left: -50px;
    transform: rotate(45deg) !important;
    z-index: 3 !important;
}
.programming-tools, .designing-tools{
    cursor:pointer;
}
.programming-tools p{
    color:white;
    font-weight:bold;
    transition:all .3s ease-in-out;
}
.designing-tools p{
    color:white;
    font-weight:bold;
    transition:all .3s ease-in-out;
}
.programming-tools.active-tools p{
    color:black;
}
.designing-tools.active-tools p{
    color:black;
}

.my-tools-main{
    user-select:none;
    width:600px;
    margin:32px auto 0;
    position:relative;
}
.my-tools-programming.my-active-tools{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition:opacity .3s ease-in-out;
    opacity:1;
}
.my-tools-programming{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition:opacity .3s ease-in-out;
    opacity:0;
}
.tool{
    position:relative;
    width:100px !important;
    display:flex;
    flex-direction:column;
}
.tool img{
    width:75px;
    height:75px;
    margin:0 auto;
}
.tool p{
    font-size:21px;
    color:white;
    font-weight:400 !important;
}

.my-tools-designing{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity:0;
    transition:opacity .3s ease-in-out;
}
.my-tools-designing.my-active-tools{
    opacity:1;
}

.square-ornament-absolute{
    position:absolute;
    top:0;
    left:100px;
    width:100px !important;
    height:100px !important;
}
.square-ornament-relative{
    width:90px !important;
    height:90px !important;
    position:relative;
    border:2px solid var(--secound);
    background-color: none;
    transform:rotate(45deg);
}
.SOR-small{
    width:70px !important;
    height:70px !important;
    margin:0 auto;
    border:2px solid var(--secound);
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-35px;
    margin-top:-35px;
    transform:rotate(0deg);
}

.short-contact{
    width:100%;
    height:auto;
    background: var(--Dark-main);
}
.sc-border-top{
    width:100%;
    height:2px;
    background:var(--secound);
}
.sc-border-bottom{
    width:100%;
    height:2px;
    background:var(--secound);
}
.short-contact h3{
    font-size:48px;
    text-align:center;
    color:#fff;
    margin-top:32px;
}
.short-contact h4{
    margin-top:24px;
    font-size:36px;
    text-align:center;
    color:var(--secound);
}
.sc-call-mail{
    display:flex;
    width:70%;
    margin:48px auto 32px;
    justify-content: space-around;
}
.sc-call, .sc-mail{
    width:350px;
    display:flex;
    flex-direction:column;
}
.sc-call img, .sc-mail img{
    width:40px;
    height:40px;
    margin:0 auto;
}
.sc-call a, .sc-mail a{
    color:#fff;
    text-align:center;
    font-size:28px;
    margin-top:16px;
    transition:color .3s ease-in-out;
}
.sc-call a:hover, .sc-mail a:hover{
    color:var(--secound);
}




.realization{
    padding-top:80px;
    background: var(--Dark-main);
}
.realization-content{
    margin:90px auto;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-self: center;
}
.project{
    width:500px;
    height:280px;
    position:relative;
    margin:0 10%;
}

.project:nth-child(3){
    margin-top:90px;
    margin:90px auto 0px;
}
.project-info{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: hsla(0,0%,0%,0);
    border:1px solid var(--white25);
    transition:all .1s ease-in-out;
}

.project-info p{
    transform:all .3s ease-in-out;
    color:hsla(0,0%,100%,0);
    font-size:42px;
    text-align:center;
    margin-top:50px;
    position:relative;
    transition: all .3s ease-in-out;
}
.project-info p:nth-child(2){
    color:hsla(0,0%,100%,0);
    font-size:21px;
    text-align:center;
    margin:16px auto 64px;
}
.project-info a{
    display:flex;
    margin:0 auto;
    width:fit-content;
}

.project-info a p{
    color:hsla(0,0%,75%,0);
    font-size:18px;
    margin:0 8px 0px 0px;
    text-align:center;
    transition: all .3s ease-in-out;
    font-weight:100;
}
.project-info a i{
    color:hsla(0,0%,75%,0);
    padding-top:3px;
    font-size:18px;
    transition: all .3s ease-in-out;
}

.project-info:hover{
    background: hsla(0,0%,0%,0.85);
    border:1px solid var(--main);
    box-shadow: 0px 0px 5px var(--main);
}
.project-info:hover >p{
    color:var(--main);
}
.project-info:hover >p:nth-child(2){
    color:#fff;
}
.project-info:hover > a p,
.project-info:hover > a i{
    color:hsla(0,0%,50%,1);
}
.project-info a:hover>p{
    color:var(--white75);
}
.project-info a:hover>i{
    color:var(--white75);
    transform: translateX(8px) !important;
}



.more-realization{
    border:1px solid var(--main);
    margin:0 auto;
    width:fit-content;
    height:fit-content;
    margin-bottom:200px;
    border-radius: 8px;
}
.more-realization a{
    padding:16px 32px !important;

}
.more-realization-content{
    display:flex;
    padding:16px 32px;

}
.more-realization-content{
    color:var(--white75);
    transition:all .3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.more-realization-content .icon{
    position:relative;
    width:25px;
    height:25px;
    border-radius:100%;
    border:1px solid var(--white75);
    margin-left:8px;
    transition:all .3s ease-in-out;
}
.more-realization-content .icon i{
    font-size:20px;
    position: absolute;;
    top: 50%;
    left: 50%;
    margin-left:-10px;
    margin-top:-10px;
    transition: all .3s ease-in-out;
}
.more-realization-content:hover >.icon i{
    transform:translateX(15px) !important;
    color:#fff;
}
.more-realization-content:hover{
    color:#fff;
}
.more-realization:hover{
    box-shadow:0px 0px 10px var(--main);
}
.more-realization-content:hover>.icon{
    border:1px solid #fff;
}



/* faq section */

.faq-section{
    margin:0px 90px;
    padding-bottom:240px;
}
.faq-section .tittle-of-section{
    text-align:left;
    width:50%;
    margin-bottom:64px;
}
.faq-content{
    display:flex;
}
.faq-about{
    width:30%;
    position:relative;
}
.faq-about-content{
    position:relative;
    margin-bottom:64px;
}
.faq-about-content p{
    font-size:30px;
    color:#fff;
}
.faq-about a{
    border:1px solid var(--main);
    padding:16px 32px;
    border-radius:8px;
    color:white;
    font-size:21px;
    transition:all .3s ease-in-out;
}
.faq-about a:hover{
    box-shadow:0px 0px 10px var(--main);
    text-shadow:1px 1px 1px var(--white25);
}
.faq-qa{
    width: 60%;
    margin-left:10%;
}
.qa{
    border-bottom:2px solid var(--white75);
    padding-bottom:8px;
    margin-top:16px;
    transition:all .3s ease-in-out;
    cursor: pointer;
}
.qa-question{
    display:flex;
    justify-content: center;
    align-items: center;

}
.qa-title{
    color:var(--white75);
    font-size:30px;
    width:calc(100% - 25px);
    transition:color .3s ease-in-out;
}
.qa-icon{
    position:relative;
    float:right;
    width:26px;
    height:26px;
    padding-top:3px;
}
.qa-icon-plus{
    height:26px;
    width:2px;
    background:var(--white75);
    position:absolute;
    left:50%;
    margin-left:-1px;
    top:50%;
    margin-top:-13px;
    transition:all .3s ease-in-out;
}
.qa-icon-minus{
    width:26px;
    height:2px;
    background: var(--white75);
    position:absolute;
    top:50%;
    margin-top:-1px;
    transition:all .3s ease-in-out;
}
.qa-answer{
    font-size:16px;
    font-weight: 100;
    color:white;
    height:0;
    overflow: hidden;
    margin-top:0px;
    line-height:25px;
}
.qa.qa-Active{
    border-bottom: 2px solid var(--main);
}
.qa.qa-Active .qa-question .qa-title{
    color:var(--main);
}
.qa.qa-Active .qa-answer{
    height:auto;
    margin-top:24px;
    margin-bottom:16px;
}
.qa.qa-Active .qa-question .qa-icon .qa-icon-plus{
    transform:rotate(270deg);
    background:var(--main);
}
.qa.qa-Active .qa-question .qa-icon .qa-icon-minus{
    background:var(--main);
}



/*Contact Section */

.contact-front-section{
    margin: 0 90px;
    padding-bottom:80px;
}
.possibility-of-contacts{
    display:flex;
}
.all-types-contacts{
    width:30%;
    margin-left:10%;
}
.contact-form{
    width:60%;
    position:relative;
}
.possibility-contact{
    width:fit-content;
}
.contact-form .possibility-contact{
    width:fit-content;
    margin:0 auto;
}
.possibility-contact h6{
    font-size:24px;
    text-align:center;
    color:#fff;
    font-weight:400;
}
.ornament-div-contact{
    width:100%;
    margin-top:8px;
    height:2px;
    background:linear-gradient(to right, var(--main), var(--main), var(--Dark-main), var(--Dark-main), var(--Dark-main), var(--main), var(--main) )
}
.type-of-contact{
    display:flex;
    flex-direction: row-reverse;
    margin-top:16px;
    width:fit-content;
}
.type-of-contact a,
.type-of-contact i{
    color:#fff;
    font-size:18px;
    transition:color .3s ease-in-out;
}
.type-of-contact i{
    padding-top:3px;
}
.type-of-contact a{
    margin-left:8px;
}
.type-of-contact a:hover{
    color:var(--main)
}
.type-of-contact a:hover~i{
    color:var(--main)
}

form{
    width:50%;
    margin:16px auto 0;
    position:relative;
}
.form-box{
    margin:16px auto 0;
    text-align: center;
    margin-top:8px;
}

.form-box input{
    margin:0 auto;
    width:100%;
    font-size:18px;
    padding:8px 16px;
    border-radius: 8px;
    border:1px solid var(--white50);
    color: var(--white50);
    background: var(--Dark-main);
    outline: none;
}
.form-box input:focus{
    border:1px solid var(--main);
    color:var(--main) ;
}
.form-box textarea{
    width:100%;
    border:1px solid var(--white50);
    background:var(--Dark-main);
    font-size:18px;
    padding:8px 16px;
    border-radius: 8px;
    outline:none;
    color:var(--white50);
}
.form-box textarea{
    max-width:100%;
    border:1px solid var(--white50);
    background:var(--Dark-main);
    font-size:18px;
    padding:8px 16px;
    border-radius: 8px;
    outline:none;
    color:var(--white50);
}
.form-box textarea:focus{
    border:1px solid var(--main);
    color:var(--main);
}
form label{
    cursor:pointer;
    color:#fff;
    font-size:13px;
}
form label input{
    margin-right:8px;
}
.button-send-form{
    user-select:none;
    width:100%;
    height:fit-content;
    background:var(--main);
    width:100%;
    text-align:center;
    color:var(--Dark-main);
    border:none;
    cursor: pointer;
    padding:16px 0px;
    margin-top:16px;
    border-radius:8px;
    font-size:18px;
    font-weight: 600;
    letter-spacing: 1px;
    align-items: center;
    position:relative;
    
}
.button-send-form:hover{
    background: hsl(180, 80%, 50%);
}
.button-send-form img{
    top:50%;
    position:absolute;
    transform: translate(0,-50%);
}




/* Footer */
footer{
    width:100%;
    padding-bottom:16px;
}
.footer-content{
    width:40%;
    margin:0 auto;
    text-align:center;
}
.footer-content img{
    user-select:none;
    width:45px;
    height:65px;
    margin:0 auto;
}
.footer-content h3{
    color:#fff;
    font-size:34px;
    margin-top:32px
}
.footer-content h2{
    color:var(--main);
    font-size:28px;
    margin-top:32px
}
.footer-content p{
    color:var(--white75);
    font-size:28px;
    margin-top:32px
}
.footer-nav{
    display:flex;
    width:fit-content;
    margin:64px auto 24px;
}
.footer-anchor{
    margin-left:16px;
    width:fit-content;
}
.footer-anchor:nth-child(5){
    margin-left:0px;
}
.footer-anchor.active .underscore-active{
    width:100%;
    height:1px;
    background: #32CBCC;
    margin-top:4px;
}
.footer-anchor a{
    color:#fff;
    transition:color .3s ease-in-out;
    font-size:18px;
}
.footer-anchor.active a{
    color:var(--main);
}
.footer-anchor a:hover{
    color:var(--main);
}
.footer-anchor a:nth-child(5){
    margin-left:0px;
}

.footer-content .policy{
    color:var(--white75);
    font-size:15px;
    transition:color .3s ease-in-out;
}
.footer-content .policy:hover{
    color:#fff;
}
.footer-content .rights{
    color:var(--white75);
    font-size:15px;
    margin-top:8px;
}

@media only screen and (max-width:1667px){
    .project {
        margin: 0 5%;
    }
    .header-content-abs {
        width: 70%;
        margin-left: -35%;
    }
    .about-img img {
        left: 5%;
    }
    .about-img {
        margin-left: 5%;
    }
    .spec-box.spec-box-flex {
        width: 500px;
        height: 300px;
    }
    .spec-box p {
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin: 36px 32px 0px;
        line-height: 35px;
    }
    .faq-section .tittle-of-section {
        width: 70%;
    }
    
}



@media only screen and (max-width:1300px){
    .header-text2 h1 {
        font-size: 64px;
    }
    .about-img {
        margin-left: 0%;
    }
    .about-img img {
        width: 70%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0%;
    }
    .specs-flex-box1-and2 {
        flex-direction: column;
    }
    .spec-box.spec-box-flex {
        margin:40px auto 0;
    }
    .square-ornament-absolute {
        left: 0px;
        width: 70px !important;
        height: 70px !important;
    }
    .square-ornament-relative {
        width: 70px !important;
        height: 70px !important;
    }
    .square-ornament-relative.SOR-small{
        width: 50px !important;
        height: 50px !important;
        margin-left: -25px;
        margin-top: -25px;
    }
    .sc-call-mail {
        display: flex;
        width: 85%;
    }
    .sc-call, .sc-mail {
        width: auto;
    }
    .project {
        margin: 64px 5% 0px;
    }
    .project:nth-child(3) {
        margin-top: 64px;
    }
    .faq-section .tittle-of-section {
        width: 95%;
    }
    .faq-about-content p {
        font-size: 24px;
    }
    .all-types-contacts {
        margin-left: 5%;
    }
    form {
        width: 70%;
    }
    .footer-content {
        width: 50%;
    }

}
@media only screen and (max-width:1000px){
    .desk-nav-mar {
    margin: 0 45px;
}
    .desk-nav.active-nav .nav-anchor {
    margin: 0 16px;
}
.header-content-abs {
    width: 90%;
    margin-left: -45%;
}
.aboutme-content {
    padding-top:80px;
}
.aboutme-content-flex {
    flex-direction:column;
}
.orna-aboutme {
    display:none;
}
.about-aboutme {
    width: 100%;
}
.tittle-of-section {
    font-size: 64px;
}
.spec-box.spec-box-flex {
    width: 100%;
}
.spec-box:nth-child(3) {
    height: 300px;
}
.spec-box:nth-child(4) {
    margin: 0px auto 0px;
    width:100%;
}
.square-ornament-relative {
    width: 40px !important;
    height: 40px !important;
}
.square-ornament-relative.SOR-small {
    width: 30px !important;
    height: 30px !important;
    margin-left: -15px;
    margin-top: -15px;
}
.square-ornament-absolute {
    left: -60px;
    width: 40px !important;
    height: 40px !important;
}
.sc-call-mail {
    width: 90%;
}
.short-contact h3 {
    font-size: 40px;
}
.short-contact h4 {
    font-size: 32px;
}
.faq-content {
    flex-direction:column;
}
.faq-about {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.faq-qa {
    width: 100%;
    margin: 64px 0px 32px 0px;
}
.faq-about-content {
    width:50%;
    margin-bottom: 0px;
}
.faq-about-a{
    width:50%;
    position: relative;
    text-align: center;
    margin-top:0px;
}
.faq-about a {
    color: var(--white75);
}
.possibility-of-contacts {
    flex-direction: column;
}
.all-types-contacts {
    width: fit-content;
    margin-left: 0%;
    margin: 0 auto;
}
.contact-form {
    width: 100%;
    position: relative;
    margin:64px 0px 0px 0px;
}
.faq-section {
    margin: 0px 90px;
    padding-bottom: 120px;
}

}
@media only screen and (max-width:920px){
    .header{
        min-height:700px;
    }
}
@media only screen and (max-width:800px){
    
    .header{
        min-height:600px;
    }
    .desk-nav{
        display:none;
    }
    .navigation-mobile{
        position:fixed;
        top:0px;
        left:0%;
        width:100%;
        z-index:20;
        display:inline;
    }
    .navigation-mobile-content-rel{
        width:fit-content;
        margin:0 auto;
    }
    .navigation-mobile-content{
        transform: rotate(45deg);
        margin-top:-280px;
        transition: .3s ease;
        z-index:99 !important;
    }
    .navigation-mobile-content.active{
        margin-top:-145px;
    }
    .navigation-mobile-anchors{
        border:1px solid var(--main);
        width:280px;
        height:280px;
        position:relative;
        background:var(--light-Dark);
        z-index: 20 !important;
    }
    .navigation-mobile-anchors > *{
        transform:rotate(-45deg);
    }
    .mobile-anchor{
        width:fit-content;
        margin:8px auto 0;
        display:flex;
        justify-content: center;
        align-items: center;
        opacity:0;
        transition:all .4s ease-in-out;
    }
    .navigation-mobile-content.active .test .mobile-anchor{
        opacity:1;
    }
    .mobile-anchor a{
        color:#fff;
        font-size:20px;
        font-weight:400;
    }
    .test{
        width:fit-content;
        top:calc(50% - 8px);
        position:absolute;
        left: calc(50% + 8px);
    }
    .mobile-anchor.active-anchor .mobile-orna-wall{
        width:3px;
        height:20px;
        background-color: var(--main);
        margin-right:4px;
    }
    .mobile-anchor.active-anchor a{
        color:var(--main);
    }
    .navigation-mobile-icons{
        top:20px;
        position:absolute;
        right:20px;
        z-index:99 !important;
    }
    .navigation-btn{
        width:30px;
        min-height:30px !important;
        display:none;
        opacity:1;
        transition: all .3s ease-in-out;
    }
    .close-btn{
        width:30px;
        height:30px;
        display:none;
        opacity:0;
        transition: all .3s ease-in-out;
    }
    .navigation-btn.nav-active,
    .close-btn.nav-active{
        display:inherit;
        opacity:1;
        transition: all .3s ease-in-out;
    }
    .navigation-btn >img,
    .close-btn>img{
        width:30px;
        height:30px;
    }
    .close-btn{
        top:0px;
        position:absolute;
        right:0px;
    }
    .header-text1 h2 {
        font-size: 48px;
        margin-bottom: 32px;
    }
    .header-text2 h1 {
        font-size: 50px;
    }
    .header-text3 p {
        font-size: 24px;
        margin-bottom: 32px;
    }
    .about-aboutme p {
        font-size: 21px;
        width: 100%;
        margin: 0 auto 32px;
    }
    .my-specializations {
        padding: 128px 48px;
    }
    .spec-box{
        width:100%;
        height:auto !important;
        padding-bottom:32px;
    }
    .tools-content div {
        width: 400px;
        z-index: 5 !important;
    }
    .active-tool {
        width:200px  !important;
        height:200px  !important;
        margin-top: -50px;
        margin-left: -30px;
    }
    .active-tool.right-tool {
        left: 75%;
    }
    .tools-content div p {
        font-size: 18px;
    }
    .sc-call-mail {
        width: 90%;
        flex-direction:column;
        margin-bottom:16px;
    }
    .sc-mail{
        margin-top:16px;
        margin:16px 0px;
    }
    .faq-about {
        flex-direction: column;
        text-align: left;
        align-items: start;
    }
    .faq-about-a {
        width: 70%;
        margin-top:48px;
        text-align: left;
        
    }
    .faq-about-content {
        width: 70%;
        margin-bottom: 0px;
    }
    .faq-section {
        margin: 0px 40px;
        padding-bottom: 120px;
    }
    .contact-front-section {
        margin: 0 40px;
        padding-bottom: 80px; 
    }
    .type-of-contact {
        margin:16px auto 0;
    }
    .footer-content {
        width: 70%;
    }
    .footer-content h3 {
        color: #fff;
        font-size: 30px;
        margin-top: 32px;
    }
    .footer-content p {
        color: var(--white75);
        font-size: 24px;
        margin-top: 32px;
    }
    .realization-content {
        margin: 45px auto 90px;
    }
    .navigation-mobile-socials{
        width:50%;
        height:25px;
        display:flex;
        justify-content: space-around;
        margin-left:0%;
        margin-top:8px;
        opacity:0;
        transition:all .3s ease-in-out;
    }
    .navigation-mobile-socials.active-social-nav{
        width:70%;
        margin-left:15%;
        opacity:1;
    }
    .mobile-social{
        width:100%;
        height:100%;
        position:relative;
    }
    .mobile-social img{
        width:25px;
        height:25px;
        transition:all .3s ease-in-out ;
        transform: rotate(-45deg);
    }
    .mobile-social img:hover{
        transform:scale(1.2) rotate(-45deg);
    }
    .mobile-social:nth-child(1) > img{
        transform: scale(0.8);
    }
    .mobile-social:nth-child(1) > img:hover{
        transform: scale(1) rotate(-45deg);
    }
    .qa-title {
        color: var(--white75);
        font-size: 22px;
        width: calc(100% - 25px);
    }
    .qa-icon {
        width: 18px;
        height: 18px;
        padding-top: 3px;
    }
    .qa-icon-plus {
        height: 18px;
        margin-top: -9px;
    }
    .qa-icon-minus {
        width: 18px;
        margin-top: -1px;
    }
}

@media only screen and (max-width:600px){
    .header{
        height:800px;
    }
    
    .project-info p {
        font-size: 30px;
        margin-top: 50px;
    }
    .project-info p:nth-child(2) {
        font-size: 21px;
        margin: 16px auto 32px;
    }
    .project-info a p {
        font-size: 18px;
    }
    .project-info a i {
        font-size: 18px;
    }
    .project {
        width: 430px;
        height: 230px;
        position: relative;
    }
    .project img{
        width:100%;
        height:100%;
    }
    .close-btn {
        top: 0px;
        position: absolute;
        right: 0px;
        transition:all .3s ease-in-out;
    }
    .close-btn.nav-active {
        display: inherit;
        opacity: 1;
        transition: all .3s ease-in-out;
        top:20px;
    }
    .header-text1 h2 {
        font-size: 40px;
        margin-bottom: 32px;
    }
    .header-text2 h1 {
        font-size: 45px;
    }
    .header-text3 p {
        font-size: 22px;
        margin-bottom: 32px;
    }

    .btn-poznajmy-sie-a p {
        font-size: 20px;
    }
    .btn-poznajmy-sie-a i {
        font-size: 20px;
    }
    .btn-poznajmy-sie-a {
        padding: 13px 26px;
    }
    .tittle-of-section {
        font-size: 48px;
        margin-bottom:64px;
    }
    .aboutme-content {
        margin: 0px 25px;
    }
    .spec-box h3 {
        font-size: 28px;
        margin: 16px 32px 0px;
    }
    .spec-box p {
        font-size: 21px;
        margin: 36px 32px 0px;
        line-height:normal;
    }
    .spec-box img {
        width: 70px;
        height: 70px;
    }
    .tools-content div {
        width: 350px;
        z-index: 5 !important;
    }
    .active-tool {
        width: 200px !important;
        height: 200px !important;
        margin-top: -50px;
        margin-left: -25px;
    }
    .active-tool.right-tool {
        left: 75%;
    }
    .tools-content div p {
        font-size: 15px;
    }
    .tools-content div {
        width: 400px;
    }
    .my-specializations {
        padding:64px 0px 128px;
    }
    .spec-box{
        width: 100%;
        margin:0px 45px;
    }
    .specs-flex-box1-and2 {
        margin:0px 45px;
        max-width:100%;
    }
    .spec-box:nth-child(3) {
        max-width: 100%;
        height: 200px;
        width:auto;
        margin-top:32px;
    }
    .spec-box:nth-child(4) {
        margin: 32px 45px 0px;
        width: auto;
        max-width: 100%;
    }
    .short-contact h3 {
        font-size: 32px;
    }
    .short-contact h4 {
        font-size: 28px;
    }
    .sc-mail {
        margin-top: 32px;
        margin-bottom:16px;
    }
    .sc-call a, .sc-mail a {
        font-size: 21px;
        margin-top: 16px;
    }
    .faq-section {
        margin: 0px 32px;
        padding-bottom: 120px;
    }
    .faq-section .tittle-of-section {
        width: 100%;
    }
    .designing-tools p {
        width:70%;
        margin:0 auto;
    }
    form {
        width: 80%;
    }
    .footer-content {
        width: 90%;
    }
    .footer-content h2 {
        font-size: 26px;
        margin-top: 32px;
    }
    .footer-anchor {
        margin-left: 16px;
        width: fit-content;
    }
    .footer-anchor:nth-child(1){
        margin-left: 0px;
        width: fit-content;
    }
    .footer-nav {
        margin: 64px auto 16px;
    }
    .footer-content .rights {
        margin-top: 16px;
    }
    .faq-about-content p {
    font-size: 21px;
    }
    .qa-title {
    font-size: 21px;
    }
    .faq-about a {
    border: 1px solid var(--main);
    padding: 13px 26px;
    border-radius: 8px;
    color: var(--white75);
    font-size: 21px;
    transition: all .3s ease-in-out;
    }
    .possibility-contact h6 {
    font-size: 21px;
    }
    .footer-content p {
    font-size: 21px;
    margin-top: 32px;
}
}

@media only screen and (max-width:450px){
    .project-info p {
        font-size: 25px;
        margin-top: 25px;
    }
    .project-info p:nth-child(2) {
        font-size: 18px;
    }
    .btn-poznajmy-sie-a i {
    margin-top:0px;
}
    .tools-content div {
        width: 350px;
    }
    .active-tool {
        width: 200px !important;
        height: 200px !important;
        margin-top: -50px;
        margin-left: -50px;
    }
    .active-tool.right-tool {
        left: 80%;
    }
    .header-content-abs {
        width: 95%;
        margin-left:-47.5%;
        top:55%;
    }
    .header-text3 p {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .header {
        background-image: url(./img/header.png);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 12;
        background-position:50% 100%;
    }
    .my-specializations {
        padding: 64px 0px 176px;
    }
    .btn-poznajmy-sie {
        margin:128px auto 0;
    }
    .header-text1 h2 {
        font-size: 30px;
        margin-bottom: 64px;
    }
    .header-text2 h1 {
        font-size: 32px;
    }
    .btn-poznajmy-sie-a p {
        font-size: 15px;
    }
    .about-aboutme p {
        font-size: 18px;
    }
    .about-aboutme a {
        font-size: 18px;
    }
    .tittle-of-section {
        font-size: 35px;
    }
    .spec-box h3 {
        font-size: 20px;
        margin: 16px 32px 0px;
    }
    .spec-box p {
        font-size: 15px;
        margin: 36px 32px 0px;
    }
    .spec-box img {
        width: 100px;
        height: 100px;
    }
    .short-contact h3 {
        font-size: 32px;
        font-weight: 100;
    }
    .faq-section .tittle-of-section {
        width: 100%;
        text-align:center;
    }
    .faq-about-content p {
        font-size: 21px;
        text-align:center;
    }
    .faq-about-content {
        width: 100%;
        margin-bottom: 0px;
    }
    .faq-about-a {
        width: 100%;
        margin-top: 48px;
        text-align:center;
    }
    .faq-about a {
        text-align:center;
        margin:0 auto;
    }
    .possibility-contact h6 {
        font-size: 24px;
    }
    .ornament-div-contact {
        margin: 16px 0px 32px;
    }
    form {
        width: 100%;
    }
    .footer-content h3 {
        font-size: 34px;
    }
    .footer-content h2 {
        font-size: 24px;
    }
    .footer-content p {
        font-size: 18px;
        margin-top: 32px;
    }
    .footer-nav {
        margin: 32px auto 32px;
        flex-direction:column;
        text-align: center;
    }
    .footer-anchor {
        margin:4px auto;
    }
    .footer-anchor.active .underscore-active {
        margin-top: 2px;
    }
    .footer-content .rights {
        margin-top: 8px;
    }
    footer {
        width: 100%;
        padding-bottom: 8px;
    }
    .project {
        width: 300px;
        height: 190px;
        position: relative;
        margin: 64px auto 0px;
    }
    .tittle-of-section {
    margin-bottom: 48px;
    }
    .more-realization {
        margin:0 auto 120px;
    }
    .close-btn.nav-active {
        display: inherit;
        opacity: 1;
        transition: all .3s ease-in-out;
        top: 70px;
    }
    .navigation-mobile-content.active {
        margin-left:-25px;
    }
    .navigation-mobile-socials.active-social-nav {
        width: 70%;
        margin-left: 25%;
    }

}

@media only screen and (max-width:350px){
    .tools-content div {
        width: 300px;
    }
    .contact-front-section {
        margin: 0 10px;
    }
    .sc-call a, .sc-mail a {
        font-size: 18px;
        margin-top: 16px;
    }
    .navigation-mobile-socials.active-social-nav {
        width: 60%;
        margin-left: 40%;
        opacity: 1;
    }
    .close-btn.nav-active {
        display: inherit;
        opacity: 1;
        transition: all .3s ease-in-out;
        top: 90px;
    }
    .active-tool {
        width: 150px !important;
        height: 150px !important;
        margin-top: -25px;
        margin-left: -25px;
    }
    .active-tool.right-tool {
        left: 83%;
    }
    .btn-poznajmy-sie-a i {
        font-size: 16px;
        margin-top: 0px;
    }
    .tittle-of-section {
        font-size: 30px;
    }
    .header-text3{
        width:90%;
        margin: 0 auto;
    }
    .specs-flex-box1-and2 {
        margin: 0px 15px;
    }
    .spec-box {
        margin: 0px 15px;
    }
    .spec-box:nth-child(4) {
        margin: 32px 15px 0px;
    }
    .short-contact h3 {
        font-size: 28px;
    }
    .short-contact h4 {
        font-size: 26px;
    }
    .project {
        width: 280px;
        height: 190px;
        position: relative;
        margin: 64px auto 0px;
    }
    .faq-section {
        margin: 0px 24px;
    }
    .faq-about-content p {
        font-size: 18px;
    }
    .faq-about a {
        font-size: 18px;
    }

}